<!DOCTYPE html>
<html>

<head>
  <title>CSTU32 To The Kraken Game</title>        
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
  <style>
    body
    {
      font-family: 'Sriracha', cursive;
    }
    h1 {
      font-family: 'Sriracha', cursive;
    }
  </style>
</head>

<body class="bg-dark">
  <div class="py-5 w-100 h-50" style="background-image: url(&quot;./Kwkwk.jpg&quot;);"> <br><br><br><br><br><br><br><br><br><br><br><br><br></div>

  <div class="py-5 text-white text-center bg-dark" style="background-image: url(&quot;kk.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>จงระบุตัวตนของเจ้ามา</h1>
          <!-- <form class="form-inline justify-content-center" action="/login" method="POST" id="form-submit"> -->
            <div class="input-group my-1">
              <input type="text" class="form-control mr-3 my-1" placeholder="Identify code" id="inlineFormInputGroup" maxlength="4"> </div>
            <button type="button" class="btn btn-secondary" id="ready-btn">I'm ready</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url(&quot;30968168_001_s.jpg&quot;);"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <script type="text/javascript"> 
  $(function () {

    $('#ready-btn').click(function() {
      var key = $('#inlineFormInputGroup').val();

      $.ajax({
          url: '/login',
          type:'POST',
          data: {key : key},
          success: (success) => {
             console.log("status :"+success.status);
              if(success.success){
                if(success.status){
                  swal("สวัสดี "+success.nickname+"!", "ยินดีต้อนรับสู่คราเคน ", "success").then(() => {
                    window.location.href = '/image' ;  
                  });
                }else{
                  swal("สวัสดี "+success.nickname+"!", "ยินดีต้อนรับสู่คราเคน ", "success").then(() => {
                    window.location.href = '/question' ;                        
                  });
                }
              }else{
                swal("แย่จัง!!!", "ตัวตนของเจ้าไม่ผ่าน จงระบุใหม่!", "error");
              }
          }
      });
    });

  });
</script>
</body>

</html>