<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
  <style>
    body {
      font-family: 'Sriracha', cursive;
    }

    h1 {
      font-family: 'Sriracha', cursive;
    }
  </style>
</head>

<body class="bg-dark">
  <div class="py-5 h-50 w-100" style="background-image: url('/Kwkwk.jpg');"> <br><br><br><br><br><br><br><br><br><br><br><br><br></div>
  <div class="py-5 text-white text-center bg-dark" style="background-image: url('/kk.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="/riddle/7.jpg" style="width:100%" alt=""> <br><br>
          <div class="form-group">
              <input type="text" name="text" class="form-control" placeholder="Answer" id="inlineFormInputGroup" maxlength="4"> </div>
            <button type="button" class="btn btn-primary" id="ready-btn">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url('/30968168_001_s.jpg');"></div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <script src="/js/game.js"></script>  
</body>

</html>
